USE [master]
GO
/****** Object:  Database [TESTDT]    Script Date: 3/9/2016 7:15:05 PM ******/
CREATE DATABASE [TESTDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TESTDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TESTDT.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TESTDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TESTDT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TESTDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TESTDT]
GO
/****** Object:  User [dungnbpd01314]    Script Date: 3/9/2016 7:15:05 PM ******/
CREATE USER [dungnbpd01314] FOR LOGIN [dungnbpd01314] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[client]    Script Date: 3/9/2016 7:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[client](
	[id] [int] NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
 CONSTRAINT [client_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[purchase]    Script Date: 3/9/2016 7:15:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[purchase](
	[id] [int] NOT NULL,
	[purchase_no] [char](12) NOT NULL,
	[client_id] [int] NOT NULL,
 CONSTRAINT [purchase_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[purchase]  WITH CHECK ADD  CONSTRAINT [client_purchase] FOREIGN KEY([client_id])
REFERENCES [dbo].[client] ([id])
GO
ALTER TABLE [dbo].[purchase] CHECK CONSTRAINT [client_purchase]
GO
USE [master]
GO
